.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40rpx;
}


.mt-1{margin-top: 4rpx;}.mb-1{margin-bottom: 4rpx;}.ml-1{margin-left: 4rpx;}.mr-1{margin-right: 4rpx;}
.mt-2{margin-top: 8rpx;}.mb-2{margin-bottom: 8rpx;}.ml-2{margin-left: 8rpx;}.mr-2{margin-right: 8rpx;}
.mt-3{margin-top: 12rpx;}.mb-3{margin-bottom: 12rpx;}.ml-3{margin-left: 12rpx;}.mr-3{margin-right: 12rpx;}
.mt-4{margin-top: 16rpx;}.mb-4{margin-bottom: 16rpx;}.ml-4{margin-left: 16rpx;}.mr-4{margin-right: 16rpx;}
.mt-5{margin-top: 20rpx;}.mb-5{margin-bottom: 20rpx;}.ml-5{margin-left: 20rpx;}.mr-5{margin-right: 20rpx;}
.mt-6{margin-top: 24rpx;}.mb-6{margin-bottom: 24rpx;}.ml-6{margin-left: 24rpx;}.mr-6{margin-right: 24rpx;}
.mt-7{margin-top: 28rpx;}.mb-7{margin-bottom: 28rpx;}.ml-7{margin-left: 28rpx;}.mr-7{margin-right: 28rpx;}
.mt-8{margin-top: 32rpx;}.mb-8{margin-bottom: 32rpx;}.ml-8{margin-left: 32rpx;}.mr-8{margin-right: 32rpx;}
.mt-9{margin-top: 36rpx;}.mb-9{margin-bottom: 36rpx;}.ml-9{margin-left: 36rpx;}.mr-9{margin-right: 36rpx;}
.mt-10{margin-top: 40rpx;}.mb-10{margin-bottom: 40rpx;}.ml-10{margin-left: 40rpx;}.mr-10{margin-right: 40rpx;}
